.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #F28AB2;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  max-width:350px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 2px 3px #b37da7;
}
button{
  background-color: #F28AB2;
  color: #fff;
  width: 90%;
  padding: 10px;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
  border: 0;
  border-radius: 6px;
  margin: 15px auto;
}
.person{
  display: flex;
  justify-content: space-between;
  align-items:center;
}
img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}